flows.json
[{"id":"5e256c74.6b726c","type":"tab","label":"Control Barra","disabled":false,"info":""},{"id":"3a4d05b8.ef6a82","type":"tab","label":"Comunicación","disabled":false,"info":""},{"id":"c5cf8f89.c260b8","type":"mqtt-broker","z":"","name":"127.0.0.1","broker":"127.0.0.1","port":"1883","clientid":"nodered-imagystems","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fcedce54.b8f0d8","type":"ui_tab","z":"","name":"Control Barra","icon":"dashboard","disabled":false,"hidden":true},{"id":"6d9078ee.b8e9c8","type":"ui_group","z":"","name":"Pista 1","tab":"fcedce54.b8f0d8","disp":true,"width":"6","collapse":false},{"id":"2933061b.b9b89a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"48903aae.9239fc","type":"ui_group","z":"","name":"Pista 2","tab":"fcedce54.b8f0d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"24a0eb11.1d3a44","type":"ui_group","z":"","name":"Pista3","tab":"fcedce54.b8f0d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"91c418c2.c06018","type":"ui_group","z":"","name":"Pista 4","tab":"fcedce54.b8f0d8","order":4,"disp":true,"width":"6","collapse":false},{"id":"f619c5ff.aada28","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista1/open","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":130,"y":100,"wires":[["f461cb9b.052d08"]]},{"id":"3e060eb.69ce272","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista1/jugadorlanza","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":650,"y":80,"wires":[["f461cb9b.052d08"]]},{"id":"e1f7fe9.f6727","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista1/jugador1/nombre","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":160,"y":180,"wires":[["f461cb9b.052d08"]]},{"id":"7dbbe69d.35f76","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista1/jugador1/puntostiro","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":170,"y":240,"wires":[["f461cb9b.052d08"]]},{"id":"8552d844.163bb8","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista1/jugador1/puntostotales","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":180,"y":300,"wires":[["f461cb9b.052d08"]]},{"id":"ba9f4d9e.f72578","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista1/jugador2/nombre","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":440,"y":180,"wires":[["f461cb9b.052d08"]]},{"id":"618fb48a.21ffec","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista1/jugador2/puntostiro","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":450,"y":240,"wires":[["f461cb9b.052d08"]]},{"id":"975d7f1c.b9e52","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista1/jugador2/puntostotales","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":460,"y":300,"wires":[["f461cb9b.052d08"]]},{"id":"74ebeb5e.cc901c","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista1/jugador3/nombre","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":720,"y":180,"wires":[["f461cb9b.052d08"]]},{"id":"4d8f7f4a.c29cc8","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista1/jugador3/puntostiro","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":730,"y":240,"wires":[["f461cb9b.052d08"]]},{"id":"87ab95b6.b5bf88","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista1/jugador3/puntostotales","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":740,"y":300,"wires":[["f461cb9b.052d08"]]},{"id":"984e262a.f461b","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista1/jugador4/nombre","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1000,"y":180,"wires":[["f461cb9b.052d08"]]},{"id":"254a1ed8.8f81b2","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista1/jugador4/puntostiro","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1010,"y":240,"wires":[["f461cb9b.052d08"]]},{"id":"46315cd7.4fffcc","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista1/jugador4/puntostotales","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1020,"y":300,"wires":[["f461cb9b.052d08"]]},{"id":"aeb6bbef.219d3","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista1/jugador5/nombre","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1280,"y":180,"wires":[["f461cb9b.052d08"]]},{"id":"e214332e.67f6f","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista1/jugador5/puntostiro","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1290,"y":240,"wires":[["f461cb9b.052d08"]]},{"id":"41fc2dde.e58fcc","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista1/jugador5/puntostotales","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1300,"y":300,"wires":[["f461cb9b.052d08"]]},{"id":"cdd0c3bf.63f458","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista1/jugador6/nombre","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1560,"y":180,"wires":[["f461cb9b.052d08"]]},{"id":"87f06f36.6a8978","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista1/jugador6/puntostiro","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1570,"y":240,"wires":[["f461cb9b.052d08"]]},{"id":"dd237009.cc8e4","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista1/jugador6/puntostotales","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1580,"y":300,"wires":[["f461cb9b.052d08"]]},{"id":"f06a8eb3.84343","type":"comment","z":"3a4d05b8.ef6a82","name":"Uso del MQTT","info":"# Los estados que recibimos del servidor MQTT son 1 o 0 para:\n\n## pistaN/open\n_La pista esta abierta o cerrada_\n\n## pistaN/jugadores\n_Cantidad de jugadores en la pista (del 1 al 6)_\n\n# Otros estados que recibimos del servidor MQTT en númericos para:\n\n## pistaN/jugadorlanza\n_Al jugador N le toca lanzar_\n\n## pistaN/jugadorN/nombre\n_Nombre del jugador N que se encuentra en la pista N_\n\n## pistaN/jugadorN/puntostiro\n_Puntos del jugador N en su ultimo tiro_\n\n## pistaN/jugadorN/puntostotales\n_Puntos del jugador N totales en partida_","x":220,"y":40,"wires":[]},{"id":"eed54c26.26eb48","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista2/open","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":130,"y":523,"wires":[[]]},{"id":"a67a7777.f54d","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista2/jugadorlanza","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":630,"y":523,"wires":[[]]},{"id":"a536c748.74344","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista2/jugador1/nombre","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":160,"y":603,"wires":[[]]},{"id":"4266603b.f08c28","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista2/jugador1/puntostiro","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":170,"y":663,"wires":[[]]},{"id":"717d5220.4570fc","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista2/jugador1/puntostotales","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":180,"y":723,"wires":[[]]},{"id":"50e8673a.882fb","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista2/jugador2/nombre","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":440,"y":603,"wires":[[]]},{"id":"edbd091f.9a8aa8","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista2/jugador2/puntostiro","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":450,"y":663,"wires":[[]]},{"id":"43473451.f47fc4","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista2/jugador2/puntostotales","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":460,"y":723,"wires":[[]]},{"id":"45c4931b.c2cae4","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista2/jugador3/nombre","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":720,"y":603,"wires":[[]]},{"id":"699724ef.6173c4","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista2/jugador3/puntostiro","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":730,"y":663,"wires":[[]]},{"id":"a6d5e875.9c58b","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista2/jugador3/puntostotales","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":740,"y":723,"wires":[[]]},{"id":"d6fd7845.6ace","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista2/jugador4/nombre","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1000,"y":603,"wires":[[]]},{"id":"74615b8e.8f7e84","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista2/jugador4/puntostiro","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1010,"y":663,"wires":[[]]},{"id":"cdccfee2.e4db5","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista2/jugador4/puntostotales","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1020,"y":723,"wires":[[]]},{"id":"32eee049.46c8e8","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista2/jugador5/nombre","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1280,"y":603,"wires":[[]]},{"id":"d74540dc.a1a48","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista2/jugador5/puntostiro","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1290,"y":663,"wires":[[]]},{"id":"a6334d0.c5dc03","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista2/jugador5/puntostotales","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1300,"y":723,"wires":[[]]},{"id":"c565cbab.9046e","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista2/jugador6/nombre","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1560,"y":603,"wires":[[]]},{"id":"4fd77004.de9038","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista2/jugador6/puntostiro","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1570,"y":663,"wires":[[]]},{"id":"b7c4db5d.51d208","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista2/jugador6/puntostotales","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1580,"y":723,"wires":[[]]},{"id":"67aa6dcd.143e0c","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista3/open","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":130,"y":823,"wires":[[]]},{"id":"7cf10282.fe0d9c","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista3/jugadorlanza","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":630,"y":823,"wires":[[]]},{"id":"2e99d6af.6bf14a","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista3/jugador1/nombre","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":160,"y":903,"wires":[[]]},{"id":"f0924827.d27f28","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista3/jugador1/puntostiro","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":170,"y":963,"wires":[[]]},{"id":"8c2db42f.d1e6d8","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista3/jugador1/puntostotales","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":180,"y":1023,"wires":[[]]},{"id":"abb0d86f.736f3","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista3/jugador2/nombre","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":440,"y":903,"wires":[[]]},{"id":"35ebaed0.d879b2","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista3/jugador2/puntostiro","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":450,"y":963,"wires":[[]]},{"id":"bc26ba28.f27528","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista3/jugador2/puntostotales","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":460,"y":1023,"wires":[[]]},{"id":"6cd60f3a.e2fe58","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista3/jugador3/nombre","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":720,"y":903,"wires":[[]]},{"id":"d912eab3.c8c198","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista3/jugador3/puntostiro","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":730,"y":963,"wires":[[]]},{"id":"c01af55.cad2708","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista3/jugador3/puntostotales","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":740,"y":1023,"wires":[[]]},{"id":"d479e91.e70d798","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista3/jugador4/nombre","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1000,"y":903,"wires":[[]]},{"id":"2a5adbd2.b67ee4","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista3/jugador4/puntostiro","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1010,"y":963,"wires":[[]]},{"id":"57f6a1f1.22663","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista3/jugador4/puntostotales","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1020,"y":1023,"wires":[[]]},{"id":"938ec5c6.ac5b6","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista3/jugador5/nombre","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1280,"y":903,"wires":[[]]},{"id":"21f79117.d7ec5e","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista3/jugador5/puntostiro","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1290,"y":963,"wires":[[]]},{"id":"740a0dee.cf8c6c","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista3/jugador5/puntostotales","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1300,"y":1023,"wires":[[]]},{"id":"ec4ba794.405968","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista3/jugador6/nombre","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1560,"y":903,"wires":[[]]},{"id":"6fba6443.7e266c","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista3/jugador6/puntostiro","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1570,"y":963,"wires":[[]]},{"id":"5695c019.d1e688","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista3/jugador6/puntostotales","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1580,"y":1023,"wires":[[]]},{"id":"94227040.caca28","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista4/open","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":130,"y":1123,"wires":[[]]},{"id":"4e90abdb.f23614","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista4/jugadorlanza","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":630,"y":1123,"wires":[[]]},{"id":"9872c1db.67c94","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista4/jugador1/nombre","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":160,"y":1203,"wires":[[]]},{"id":"3e58aef1.1fc75a","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista4/jugador1/puntostiro","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":170,"y":1263,"wires":[[]]},{"id":"bcc95fb3.a0f83","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista4/jugador1/puntostotales","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":180,"y":1323,"wires":[[]]},{"id":"156f4eb5.f96721","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista4/jugador2/nombre","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":440,"y":1203,"wires":[[]]},{"id":"62f5bb21.9cff0c","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista4/jugador2/puntostiro","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":450,"y":1263,"wires":[[]]},{"id":"bca289de.83ee8","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista4/jugador2/puntostotales","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":460,"y":1323,"wires":[[]]},{"id":"48046a40.40217c","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista4/jugador3/nombre","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":720,"y":1203,"wires":[[]]},{"id":"787ada4b.feca84","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista4/jugador3/puntostiro","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":730,"y":1263,"wires":[[]]},{"id":"115a8ac3.b390c5","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista4/jugador3/puntostotales","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":740,"y":1323,"wires":[[]]},{"id":"bc5f76eb.b2b67","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista4/jugador4/nombre","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1000,"y":1203,"wires":[[]]},{"id":"c9de829b.bddf8","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista4/jugador4/puntostiro","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1010,"y":1263,"wires":[[]]},{"id":"7aa83eef.16ee68","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista4/jugador4/puntostotales","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1020,"y":1323,"wires":[[]]},{"id":"565484e3.ee426c","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista4/jugador5/nombre","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1280,"y":1203,"wires":[[]]},{"id":"71ae1aa3.7707fc","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista4/jugador5/puntostiro","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1290,"y":1263,"wires":[[]]},{"id":"8eeb4da8.7a0048","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista4/jugador5/puntostotales","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1300,"y":1323,"wires":[[]]},{"id":"ccda15ab.570fc8","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista4/jugador6/nombre","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1560,"y":1203,"wires":[[]]},{"id":"742db3d7.34189c","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista4/jugador6/puntostiro","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1570,"y":1263,"wires":[[]]},{"id":"90b74f1c.e9b12","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista4/jugador6/puntostotales","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":1580,"y":1323,"wires":[[]]},{"id":"4fcd2b11.608204","type":"ui_switch","z":"5e256c74.6b726c","name":"","label":"Iniciar / finalitzar partida","tooltip":"","group":"6d9078ee.b8e9c8","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"pista1/open","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":230,"y":60,"wires":[["504b6d0a.0757fc"]]},{"id":"504b6d0a.0757fc","type":"mqtt out","z":"5e256c74.6b726c","name":"","topic":"","qos":"2","retain":"","broker":"c5cf8f89.c260b8","x":536,"y":121,"wires":[]},{"id":"93c39807.9c6c4","type":"ui_numeric","z":"5e256c74.6b726c","name":"","label":"Jugadors en pista","tooltip":"","group":"6d9078ee.b8e9c8","order":1,"width":"6","height":"1","wrap":false,"passthru":true,"topic":"pista1/players","format":"{{value}}","min":"1","max":"6","step":1,"x":216,"y":21,"wires":[["504b6d0a.0757fc"]]},{"id":"cd84a133.38d86","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista1/players","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":370,"y":120,"wires":[["f461cb9b.052d08"]]},{"id":"4ed010a7.7e704","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista2/players","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":370,"y":523,"wires":[[]]},{"id":"6981648a.8806cc","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista3/players","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":370,"y":823,"wires":[[]]},{"id":"87e2ee15.b1ce58","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista4/players","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":370,"y":1123,"wires":[[]]},{"id":"e900c6f3.a78ff","type":"ui_text_input","z":"5e256c74.6b726c","name":"","label":"Jugador 1","tooltip":"","group":"6d9078ee.b8e9c8","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pista1/jugador1/nombre","x":186,"y":101,"wires":[["504b6d0a.0757fc"]]},{"id":"54fd11a3.d694b","type":"ui_text_input","z":"5e256c74.6b726c","name":"","label":"Jugador 2","tooltip":"","group":"6d9078ee.b8e9c8","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pista1/jugador2/nombre","x":180,"y":140,"wires":[["504b6d0a.0757fc"]]},{"id":"f51efe1c.9ae908","type":"ui_text_input","z":"5e256c74.6b726c","name":"","label":"Jugador 3","tooltip":"","group":"6d9078ee.b8e9c8","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pista1/jugador3/nombre","x":180,"y":180,"wires":[["504b6d0a.0757fc"]]},{"id":"b3b4d168.945a8","type":"ui_text_input","z":"5e256c74.6b726c","name":"","label":"Jugador 4","tooltip":"","group":"6d9078ee.b8e9c8","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pista1/jugador4/nombre","x":180,"y":220,"wires":[["504b6d0a.0757fc"]]},{"id":"90fc0e80.35cc","type":"ui_text_input","z":"5e256c74.6b726c","name":"","label":"Jugador 5","tooltip":"","group":"6d9078ee.b8e9c8","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pista1/jugador5/nombre","x":180,"y":260,"wires":[["504b6d0a.0757fc"]]},{"id":"abac3377.292eb8","type":"ui_text_input","z":"5e256c74.6b726c","name":"","label":"Jugador 6","tooltip":"","group":"6d9078ee.b8e9c8","order":7,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pista1/jugador6/nombre","x":180,"y":300,"wires":[["504b6d0a.0757fc"]]},{"id":"5cc4b7eb.83fea8","type":"ui_switch","z":"5e256c74.6b726c","name":"","label":"Iniciar / finalitzar partida","tooltip":"","group":"48903aae.9239fc","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"pista2/open","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":870,"y":120,"wires":[["67645f9c.08a7a8"]]},{"id":"67645f9c.08a7a8","type":"mqtt out","z":"5e256c74.6b726c","name":"","topic":"","qos":"2","retain":"","broker":"c5cf8f89.c260b8","x":1190,"y":100,"wires":[]},{"id":"28bf9d80.d20752","type":"ui_numeric","z":"5e256c74.6b726c","name":"","label":"Jugadors en pista","tooltip":"","group":"48903aae.9239fc","order":1,"width":"6","height":"1","wrap":false,"passthru":true,"topic":"pista2/players","format":"{{value}}","min":"1","max":"6","step":1,"x":850,"y":60,"wires":[["67645f9c.08a7a8"]]},{"id":"2fb70fd3.d9dbd","type":"ui_text_input","z":"5e256c74.6b726c","name":"","label":"Jugador 1","tooltip":"","group":"48903aae.9239fc","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pista2/jugador1/nombre","x":820,"y":180,"wires":[["67645f9c.08a7a8"]]},{"id":"447b767b.e59788","type":"ui_text_input","z":"5e256c74.6b726c","name":"","label":"Jugador 2","tooltip":"","group":"48903aae.9239fc","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pista2/jugador2/nombre","x":820,"y":220,"wires":[["67645f9c.08a7a8"]]},{"id":"3fc52b97.e2ceac","type":"ui_text_input","z":"5e256c74.6b726c","name":"","label":"Jugador 3","tooltip":"","group":"48903aae.9239fc","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pista2/jugador3/nombre","x":820,"y":260,"wires":[["67645f9c.08a7a8"]]},{"id":"3816eeaf.889bca","type":"ui_text_input","z":"5e256c74.6b726c","name":"","label":"Jugador 4","tooltip":"","group":"48903aae.9239fc","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pista2/jugador4/nombre","x":820,"y":300,"wires":[["67645f9c.08a7a8"]]},{"id":"ccb3f376.1464c8","type":"ui_text_input","z":"5e256c74.6b726c","name":"","label":"Jugador 5","tooltip":"","group":"48903aae.9239fc","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pista2/jugador5/nombre","x":820,"y":340,"wires":[["67645f9c.08a7a8"]]},{"id":"c9b3247a.09c85","type":"ui_text_input","z":"5e256c74.6b726c","name":"","label":"Jugador 6","tooltip":"","group":"48903aae.9239fc","order":7,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pista2/jugador6/nombre","x":820,"y":380,"wires":[["67645f9c.08a7a8"]]},{"id":"54d7e39e.0579a4","type":"ui_switch","z":"5e256c74.6b726c","name":"","label":"Iniciar / finalitzar partida","tooltip":"","group":"24a0eb11.1d3a44","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"pista3/open","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":900,"wires":[["c7c2b7bb.3dffa8"]]},{"id":"c7c2b7bb.3dffa8","type":"mqtt out","z":"5e256c74.6b726c","name":"","topic":"","qos":"2","retain":"","broker":"c5cf8f89.c260b8","x":470,"y":880,"wires":[]},{"id":"23c7edff.134a0a","type":"ui_numeric","z":"5e256c74.6b726c","name":"","label":"Jugadors en pista","tooltip":"","group":"24a0eb11.1d3a44","order":1,"width":"6","height":"1","wrap":false,"passthru":true,"topic":"pista3/players","format":"{{value}}","min":"1","max":"6","step":1,"x":130,"y":840,"wires":[["c7c2b7bb.3dffa8"]]},{"id":"3edcc3a6.e7a68c","type":"ui_text_input","z":"5e256c74.6b726c","name":"","label":"Jugador 1","tooltip":"","group":"24a0eb11.1d3a44","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pista3/jugador1/nombre","x":100,"y":960,"wires":[["c7c2b7bb.3dffa8"]]},{"id":"1bb31929.36f29f","type":"ui_text_input","z":"5e256c74.6b726c","name":"","label":"Jugador 2","tooltip":"","group":"24a0eb11.1d3a44","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pista3/jugador2/nombre","x":100,"y":1000,"wires":[["c7c2b7bb.3dffa8"]]},{"id":"ba63381e.408b58","type":"ui_text_input","z":"5e256c74.6b726c","name":"","label":"Jugador 3","tooltip":"","group":"24a0eb11.1d3a44","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pista3/jugador3/nombre","x":100,"y":1040,"wires":[["c7c2b7bb.3dffa8"]]},{"id":"fb90da6b.fdcef8","type":"ui_text_input","z":"5e256c74.6b726c","name":"","label":"Jugador 4","tooltip":"","group":"24a0eb11.1d3a44","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pista3/jugador4/nombre","x":100,"y":1080,"wires":[["c7c2b7bb.3dffa8"]]},{"id":"2e6142d2.496736","type":"ui_text_input","z":"5e256c74.6b726c","name":"","label":"Jugador 5","tooltip":"","group":"24a0eb11.1d3a44","order":7,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pista3/jugador5/nombre","x":100,"y":1120,"wires":[["c7c2b7bb.3dffa8"]]},{"id":"9dc04799.7ffe08","type":"ui_text_input","z":"5e256c74.6b726c","name":"","label":"Jugador 6","tooltip":"","group":"24a0eb11.1d3a44","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pista3/jugador6/nombre","x":100,"y":1160,"wires":[["c7c2b7bb.3dffa8"]]},{"id":"c55a2944.182428","type":"ui_switch","z":"5e256c74.6b726c","name":"","label":"Iniciar / finalitzar partida","tooltip":"","group":"91c418c2.c06018","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"pista4/open","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":710,"y":900,"wires":[["e9b56e6c.67b47"]]},{"id":"e9b56e6c.67b47","type":"mqtt out","z":"5e256c74.6b726c","name":"","topic":"","qos":"2","retain":"","broker":"c5cf8f89.c260b8","x":1030,"y":880,"wires":[]},{"id":"c43ed840.f200e8","type":"ui_numeric","z":"5e256c74.6b726c","name":"","label":"Jugadors en pista","tooltip":"","group":"91c418c2.c06018","order":1,"width":"6","height":"1","wrap":false,"passthru":true,"topic":"pista4/players","format":"{{value}}","min":"1","max":"6","step":1,"x":690,"y":840,"wires":[["e9b56e6c.67b47"]]},{"id":"e69eca8.09e90b8","type":"ui_text_input","z":"5e256c74.6b726c","name":"","label":"Jugador 1","tooltip":"","group":"91c418c2.c06018","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pista4/jugador1/nombre","x":660,"y":960,"wires":[["e9b56e6c.67b47"]]},{"id":"e7a2b384.fcd008","type":"ui_text_input","z":"5e256c74.6b726c","name":"","label":"Jugador 2","tooltip":"","group":"91c418c2.c06018","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pista4/jugador2/nombre","x":660,"y":1000,"wires":[["e9b56e6c.67b47"]]},{"id":"6606d649.d6021","type":"ui_text_input","z":"5e256c74.6b726c","name":"","label":"Jugador 3","tooltip":"","group":"91c418c2.c06018","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pista4/jugador3/nombre","x":660,"y":1040,"wires":[["e9b56e6c.67b47"]]},{"id":"baaf6506.5f2538","type":"ui_text_input","z":"5e256c74.6b726c","name":"","label":"Jugador 4","tooltip":"","group":"91c418c2.c06018","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pista4/jugador4/nombre","x":660,"y":1080,"wires":[["e9b56e6c.67b47"]]},{"id":"37033256.e5e266","type":"ui_text_input","z":"5e256c74.6b726c","name":"","label":"Jugador 5","tooltip":"","group":"91c418c2.c06018","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pista4/jugador5/nombre","x":660,"y":1120,"wires":[["e9b56e6c.67b47"]]},{"id":"fca7ce75.b0e518","type":"ui_text_input","z":"5e256c74.6b726c","name":"","label":"Jugador 6","tooltip":"","group":"91c418c2.c06018","order":7,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"pista4/jugador6/nombre","x":660,"y":1160,"wires":[["e9b56e6c.67b47"]]},{"id":"f461cb9b.052d08","type":"uibuilder","z":"3a4d05b8.ef6a82","name":"builder1","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":2040,"y":100,"wires":[["12417967.5d36af"],[]]},{"id":"12417967.5d36af","type":"debug","z":"3a4d05b8.ef6a82","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2370,"y":80,"wires":[]},{"id":"72a0b2f9.aa3bfc","type":"inject","z":"5e256c74.6b726c","name":"","topic":"pista1/players","payload":"6","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":340,"wires":[["504b6d0a.0757fc"]]},{"id":"d41dc76.2b56438","type":"inject","z":"5e256c74.6b726c","name":"","topic":"pista1/open","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":380,"wires":[["504b6d0a.0757fc"]]},{"id":"189bec53.02bc24","type":"inject","z":"5e256c74.6b726c","name":"","topic":"pista1/jugador1/nombre","payload":"pedro","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":420,"wires":[["504b6d0a.0757fc"]]},{"id":"c48608ed.6cc0a","type":"inject","z":"5e256c74.6b726c","name":"","topic":"pista1/jugador5/nombre","payload":"faffaffaafaaffaafafafaffa","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":580,"wires":[["504b6d0a.0757fc"]]},{"id":"d1ccece2.a5a488","type":"inject","z":"5e256c74.6b726c","name":"","topic":"pista1/jugador4/nombre","payload":"asdasd","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":540,"wires":[["504b6d0a.0757fc"]]},{"id":"84e4d3bd.ffdd3","type":"inject","z":"5e256c74.6b726c","name":"","topic":"pista1/jugador3/nombre","payload":"Franco","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":500,"wires":[["504b6d0a.0757fc"]]},{"id":"1e6df3ca.5bef0c","type":"inject","z":"5e256c74.6b726c","name":"","topic":"pista1/jugador2/nombre","payload":"Jose","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":460,"wires":[["504b6d0a.0757fc"]]},{"id":"7703b6bb.a1f64","type":"inject","z":"5e256c74.6b726c","name":"","topic":"pista1/jugador6/nombre","payload":"pepito","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":620,"wires":[["504b6d0a.0757fc"]]},{"id":"82467284.7e4048","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista1/accion","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":890,"y":120,"wires":[["f461cb9b.052d08"]]},{"id":"a7e76160.cc7f6","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista2/accion","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":890,"y":520,"wires":[[]]},{"id":"633475c8.1e954c","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista3/accion","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":890,"y":820,"wires":[[]]},{"id":"eb1b6663.c6467","type":"mqtt in","z":"3a4d05b8.ef6a82","name":"","topic":"pista4/accion","qos":"2","datatype":"auto","broker":"c5cf8f89.c260b8","x":890,"y":1120,"wires":[[]]},{"id":"5d562362.5b915c","type":"inject","z":"5e256c74.6b726c","name":"","topic":"pista1/accion","payload":"strike","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":240,"wires":[["504b6d0a.0757fc"]]},{"id":"40370cc3.61afbc","type":"inject","z":"5e256c74.6b726c","name":"","topic":"pista1/accion","payload":"spare","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":280,"wires":[["504b6d0a.0757fc"]]},{"id":"b3d70c90.8efb6","type":"inject","z":"5e256c74.6b726c","name":"","topic":"pista1/accion","payload":"fuera","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":320,"wires":[["504b6d0a.0757fc"]]},{"id":"d622fc91.8d624","type":"inject","z":"5e256c74.6b726c","name":"","topic":"pista1/accion","payload":"espera","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":540,"y":360,"wires":[["504b6d0a.0757fc"]]},{"id":"7b65df2a.f43438","type":"inject","z":"5e256c74.6b726c","name":"","topic":"pista1/accion","payload":"tiro","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":400,"wires":[["504b6d0a.0757fc"]]}]